<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smove | App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head> 
  <body>
    <div class="window-loading-wrapper" ng-if="loaded">
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
    <div ng-cloak class="page-wrapper gray-bg" page-wrapper-adjust>
      <topnav></topnav>
      <div class="content-wrapper">
        <page-switcher>
          <div ui-view></div>
        </page-switcher> 
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script src="/libs/angular-simple-logger/angular-simple-logger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.2.1/angular-google-maps.min.js"></script>

    <script src="/js/app.core.js"></script>

    <!-- services -->
    <script src="/js/services/appData.service.js"></script>
    <script src="/js/services/routeResolver.service.js"></script>
    <script src="/js/services/map.service.js"></script>
    <script src="/js/services/util.service.js"></script>
    <!-- / services -->

    <!-- components -->
    <script src="/js/components/spinner.directive.js"></script>
    <script src="/js/components/readmore.directive.js"></script>
    <script src="/js/components/bookingTimer.directive.js"></script>
    <script src="/js/components/carParkRemoveModal.controller.js"></script>
    <!-- / components -->

    <!-- layout -->
    <script src="/js/layouts/topnav.directive.js"></script>
    <script src="/js/layouts/pageSwitcher.directive.js"></script>
    <script src="/js/layouts/pageWrapperAdjust.directive.js"></script>
    <!-- / layout -->

    <!-- pages -->
    <script src="/js/pages/base/base.module.js"></script>
    <script src="/js/pages/base/base.config.js"></script>
    
    <script src="/js/pages/carParks/carParks.module.js"></script>
    <script src="/js/pages/carParks/carParks.config.js"></script>
    <script src="/js/pages/carParks/carParks.controller.js"></script>
    <script src="/js/pages/carParks/mapAdjust.directive.js"></script>
    <script src="/js/pages/carParks/carParkDetails.directive.js"></script>

    <script src="/js/pages/bookings/bookings.module.js"></script>
    <script src="/js/pages/bookings/bookings.config.js"></script>
    <script src="/js/pages/bookings/bookings.controller.js"></script>

    <script src="/js/pages/bookingEdit/bookingEdit.module.js"></script>
    <script src="/js/pages/bookingEdit/bookingEdit.config.js"></script>
    <script src="/js/pages/bookingEdit/bookingEdit.controller.js"></script>
    <!-- /pages -->
    
    <!-- app -->
    <script src="/js/app.module.js"></script>
    <script src="/js/app.config.js"></script>
    <!-- /app -->
  </body>
</html>
