.navbar {
  border:0;
}

.navbar-fixed-top {
  background:$gray;
  
  .navbar-header {
    a {
      color:$text-color;
    }
  }

  .navbar-top-links {
    padding-right:16px;

    a {
      color:$text-color;
    }
  }

  .user-menu {
    >img,>span {
      display:inline-block;
    }

    >img {
      border-radius:30px;
      height:30px;
      width:30px;
    }

    >span {
      margin-left:7px;
      line-height:30px;
    }
  }
}

@media(max-width: $screen-sm-max) {
  .navbar-header {
    display: inline;
    float:left;
  }

  .navbar-top-links {
    li {
      display:inline-block;
    }

    .dropdown-menu li{
      display: block;
    }
  }
}
