.panel {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  border: 0;

  .panel-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: $panel-title-bg;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
  }

  .panel-tools {
    a {
      cursor: pointer;
      margin-left: 5px;
      color: #c4c4c4;
    }
  }

  .panel-content {
    background-color: $panel-content-bg;
    color: inherit;
    padding: 15px 20px 20px 20px;
/*
    border-color: $border-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;*/
  }
}

