<div class="modal-header text-center">
  <button type="button" class="close" ng-click="CarParkRemoveModalController.cancel()"><span>×</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Confirmation</h4>
</div>
<div class="modal-body">
  <p>Are you sure you want to delete this booking ? This action <strong>CANNOT</strong> be undone</p>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="CarParkRemoveModalController.confirm()">Confirm</button>
  <button class="btn btn-default" ng-click="CarParkRemoveModalController.cancel()">Cancel</button>
</div>