<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">S</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li dropdown>
        <a href dropdown-toggle class="user-menu">
          <img src="/assets/avatar.jpg"/>
          <span>Guest</span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/"><i class="dropdown-icon fa fa-home"></i>&nbsp;&nbsp;Home</a></li>
          <li><a href="/booking"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Manage booking</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>